

/* ----------------------- Preliminary ----------------------- */

@import 'Bootstrap/bootstrap.scss';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --basecolor: rgba(60, 60, 60);
    --element-borders: 1px solid crimson;
    --basicfontsize: 18px;
    --headerfontsize: 30px;
    --accentcolor: rgba(4, 95, 99);

}

.centerline {
    float: right;
    border-left: 4px solid rgb(251, 255, 0);
    margin-left: -2px;
    height: 600px;
    z-index: 999;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
}


/* ----------------------- Header Stuff ----------------------- */


.header {
    /* border: var(--element-borders); */
    color: black;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0%;
    transition: font-size 0.9s ease-in-out, height 0.9s ease-in-out;
    z-index: 1;
}
@media (max-width: 768px) {
        .header {
            height: 50px;
        }
        .header::after{
            top: 77px;
        }
}

@media (max-width: 400px) {
    .header {
        height: 40px;
    }
    header::after{
        top: 50px;
    }
}

        header::after {
            /* border: 1px solid rgb(10, 185, 177); */
            content: url(Assets/Misc/WhiteGeometric.svg);
            position: absolute;
            top: 90px;
            transform: translate(-50%, -50%);
            z-index: 0;
}

.logo {
    /* border: 1px solid blueviolet; */
    position: relative;
    z-index: 2;
    height: 4rem;
    transition: all 0.9s ease-in-out;
}

#GetDownFlooring {
    font-size: 42px;
    transition: font-size 0.9s ease-in-out;
}

.call {
    opacity: 0;
    background-color: white; 
    color: black; 
    border: 2px solid var(--accentcolor);
    padding: 14px 30px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    left: 33.3%;
    transform: translateX(-50%);
    top: 30px;
    z-index: 2;
    transition-property: opacity;
    transition-duration: 0.9s;
    transition-delay: 0.3s;


}
    .call:hover {
        background-color: var(--accentcolor);
        color: white;
}

.email {
    opacity: 0;
    background-color: white; 
    color: black; 
    border: 2px solid var(--accentcolor);
    padding: 14px 30px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    left: 66.6%;
    transform: translateX(-50%);
    top: 30px;
    z-index: 2;
    transition-property: opacity;
    transition-duration: 0.9s;
    transition-delay: 0.3s;
}
    .email:hover {
        background-color: var(--accentcolor);
        color: white;
}

/* ----------------------- Body Stuff ----------------------- */


.bodycontainer {
    background-color: var(--basecolor);
}

.infocards {
    background-color: var(--basecolor);
    /* border: var(--element-borders); */
    display: flex;
    text-align: center;
    margin: 3%;
    margin-top: 150px;
    justify-content: space-between;
    
}
@media (max-width: 700px) {
    .infocards {
        flex-direction: column;
        height: 1200px;
    }
}

    .location {
        flex: 1;
        height: 300px;
        margin: 10px;
        /* border: var(--element-borders); */
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.788);
        font-size: var(--basicfontsize);
        background-color: white;
        border-radius: 20px;
        padding: 20px;

}

    .owner {
        flex: 1;
        height: 300px;
        margin: 10px;
        /* border: var(--element-borders); */
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.788);
        font-size: var(--basicfontsize);
        background-color: white;
        border-radius: 20px;
        padding: 20px;

}

    .focus {
        flex: 1;
        height: 300px;
        margin: 10px;
        /* border: var(--element-borders); */
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.788);
        font-size: var(--basicfontsize);
        background-color: white;
        border-radius: 20px;
        padding: 20px;

}

.tiles {
        /* border: var(--element-borders); */
        background-image: url(Assets/Misc/Tilesbg.png);
        height: 60rem;
        margin-bottom: 700px;
        margin-top: 200px;
        position: relative;
        width: 100%;
    }

    .tiles::before {
        /* border: var(--element-borders); */
        content: url(Assets/Misc/BeforeGeometric.svg);
        position: absolute;
        transform: translateX(-50%);
        top: -0.6%;
        width: 100%;
        transform: translateX(-9%);
    
    }
    .tiles::after {
        /* border: var(--element-borders); */
        content: url(Assets/Misc/AfterGeometric.svg);
        position: absolute;
        bottom: -0.6%;
        transform: translateX(-50%);
        width: 100%;
        transform: translateX(-9%);
    }

.wood {
    /* border: var(--element-borders); */
    background-image: url(Assets/Misc/Woodbg.png);
    object-fit: cover;
    position: relative;
    height: 60rem;
    margin-bottom: 700px;
    bottom: 0%;
    width: 100%;

    }

    .wood::before {
        /* border: var(--element-borders); */
        content: url(Assets/Misc/BeforeGeometric.svg);
        position: absolute;
        transform: translateX(-50%);
        top: -0.6%;
        width: 100%;
        transform: translateX(-9%);
    }
    .wood::after {
        /* border: var(--element-borders); */
        content: url(Assets/Misc/AfterGeometric.svg);
        position: absolute;
        transform: translateX(-50%);
        bottom: -0.6%;
        width: 100%;
        transform: translateX(-9%);
    }

.marble {
    /* border: var(--element-borders); */
    background-image: url(Assets/Misc/Marblebg.png);
    position: relative;
    object-fit: cover;
    height: 60rem;
    margin-bottom: 700px;
    width: 100%;

    }

    .marble::before {
        /* border: var(--element-borders); */
        content: url(Assets/Misc/BeforeGeometric.svg);
        position: absolute;
        transform: translateX(-50%);
        top: -0.6%;
        width: 100%;
        transform: translateX(-9%);
    }
    .marble::after {
        /* border: var(--element-borders); */
        content: url(Assets/Misc/AfterGeometric.svg);
        position: absolute;
        bottom: -0.6%;
        width: 100%;
        transform: translateX(-9%);

    }

/* ------------------------- Gallery Stuff ------------------------- */

.tilegallery {
    border: var(--element-borders);
    position: relative;
    width: 70%;
    height: 500px;
    margin: 0 auto;
    top: 25%;

}

.track-container{
    border: var(--element-borders);
    position: relative;
    height: 100%;
    overflow: hidden;
}

.track {
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.slide {
    position: absolute;
    top: 0%;
    bottom: 0%;
    width: 100%;
}

.pix {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* z-index: 2; */
    background: transparent;
    cursor: pointer;
    border: transparent;
}

.arrows img {
    width: 15px;
}
.left {
    left: 5px;
}

.right {
    right: 5px;
}

.nav-indicator {
display: flex;
justify-content: center;
padding: 10px 0;
}

.indicator {
    border: 0%;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 8px;
    border-style: none;

}

.indicator.current-slide {
    background: rgba(0, 0, 0, .8);
}