

/* ----------------------- Preliminary ----------------------- */


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --basecolor: rgba(60, 60, 60);
    --element-borders: 1px solid crimson;
    --basicfontsize: 16px;
    --headerfontsize: 30px;
}

/* ----------------------- Header Stuff ----------------------- */


.header {
    /* border: var(--element-borders); */
    color: black;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0%;
    transition: font-size 0.9s ease-in-out, height 0.9s ease-in-out;
    z-index: 1;
}
@media (max-width: 768px) {
        .header {
            height: 50px;
        }
        .header::after{
            top: 77px;
        }
}

@media (max-width: 400px) {
    .header {
        height: 40px;
    }
    header::after{
        top: 50px;
    }
}

        header::after {
            /* border: 1px solid rgb(10, 185, 177); */
            content: url(Assets/Misc/navsvg.svg);
            position: absolute;
            top: 90px;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
}

.logo {
    /* border: 1px solid blueviolet; */
    position: relative;
    z-index: 2;
    height: 4rem;
    transition: all 0.9s ease-in-out;
}
        .logo img {
            width: auto;
            height: 100%;

}

#GetDownFlooring {
    font-size: 42px;
    transition: font-size 0.9s ease-in-out;
}

.call {
    
}

.email {

}

/* ----------------------- Body Stuff ----------------------- */


.bodycontainer {
    background-color: var(--basecolor);
}

.infocards {
    background-color: var(--basecolor);
    border: var(--element-borders);
    display: flex;
    text-align: center;
    margin: 3%;
    margin-top: 150px;
    justify-content: space-between;
    
}
@media (max-width: 700px) {
    .infocards {
        flex-direction: column;
        height: 1200px;
    }
}

    .location {
        flex: 1;
        height: 300px;
        margin: 10px;
        /* border: var(--element-borders); */
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.788);
        font-size: var(--headerfontsize);

}

    .owner {
        flex: 1;
        height: 300px;
        margin: 15px;
        /* border: var(--element-borders); */
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.788);
        font-size: var(--headerfontsize);

}

    .focus {
        flex: 1;
        height: 300px;
        margin: 10px;
        /* border: var(--element-borders); */
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.788);
        font-size: var(--headerfontsize);

}

    .tiles {
        border: var(--element-borders);
        background-image: url(Assets/Misc/Tilesbg.png);
        position: relative;
        width: 100%;
        max-height: 2000px;
        margin-bottom: 700px;
        margin-top: 200px;
}
        .tiles::before {
            content: url(Assets/Misc/Geometric.svg);
            display: block;
            max-width: 100%;
            
            

        }
        .tiles::after {
            content: url(Assets/Misc/Geometric.svg);
            margin: auto;
            display: block;
            transform: rotate(.5turn);
            max-width: 100%;

        }

.wood {
    border: var(--element-borders);
    background-image: url(Assets/Misc/Woodbg.png);
    position: relative;
    width: 100%;
    max-height: 2000px;
    margin-bottom: 700px;
    }

    .wood::before {
        content: url(Assets/Misc/Geometric.svg);
        display: block;
        max-width: 100%;
        
        

    }
    .wood::after {
        content: url(Assets/Misc/Geometric.svg);
        margin: auto;
        display: block;
        transform: rotate(.5turn);
        max-width: 100%;

    }

.marble {
    border: var(--element-borders);
    background-image: url(Assets/Misc/Marblebg.png);
    position: relative;
    width: 100%;
    max-height: 2000px;
    margin-bottom: 700px;
}

    .marble::before {
        content: url(Assets/Misc/Geometric.svg);
        display: block;
        max-width: 100%;
    
    

}
    .marble::after {
        content: url(Assets/Misc/Geometric.svg);
        margin: auto;
        display: block;
        transform: rotate(.5turn);
        max-width: 100%;

}

/* ------------------------- Gallery Stuff ------------------------- */

.tilegallery {
    border: var(--element-borders);
    position: relative;
    width: 70%;
    margin: auto;
    height: 30rem;
    border-radius: 25px;
}

.woodgallery {
    border: var(--element-borders);
    position: relative;
    width: 70%;
    margin: auto;
    height: 30rem;
    border-radius: 25px;

}

.marblegallery {
    border: var(--element-borders);
    position: relative;
    width: 70%;
    margin: auto;
    height: 30rem;
    border-radius: 25px;

}

.creativegallery {
    border: var(--element-borders);
    position: relative;
    width: 70%;
    margin: auto;
    height: 30rem;
    border-radius: 25px;


}

.pix {
    border-radius: 25px;
    position: absolute;
    object-fit: contain;
    height: 100%;
    width: 100%;

}


.slide {
    display: none;



}

.prev, .next {

    cursor: pointer;
    position: absolute;
    width: auto;
    top: 40%;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .slidenum {
    color: #f2f2f2;
    font-size: 30px;
    padding: 20px 20px;
    position: absolute;
    top: 0;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

