
body
{
    margin: 0;
    padding: 0;
    height: 100%;
	background-image: url('assets/css/Marble Background.jpg');
	background-size: cover;
}


.grid
{
	display: grid;
	grid-template-columns: 100px 1500px 100px;
	grid-template-rows: auto, auto;
	grid-gap: 20px;
	height: 100vh;
	margin: 0 auto;
	padding: 20px;
 	border: 3px solid orange;
}

.bodycontainer
{		
	grid-row: 1 / span 5;
	grid-column: 2;
	color: white;
	border-top: 5px solid rgba(40, 40, 40, 1);
	border-radius: 10px;
	background-color: rgba(60, 60, 60, 0.99);
	padding: 20px;
	
}

/*.containerheading
{
	height:70px;
	max-width:80%;
	text-align:center;
	border:2px solid black;
	border-radius: 3px;
}*/



