.background
{
	background-image: url('assets/css/Marble Background.jpg');
	Width: 100vh;
	Height: 2000px;
}
.containerheading
{

}

.bodyparent 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerbody
{
	min-height: 90vh;
	max-width: 80vw;
	background-color: rgba(40, 40, 40, 0.99);
	padding-top: 100px;
	border-left: 3px solid rgba(20, 20, 20, 1);
	border-radius: 10px;
}
