.background
{
	background-image: url('assets/css/Marble Background.jpg');
	Width: 1000px;
	Height: 100vh;
}
.grid
{
display: grid;
	grid-template-columns: repeat(1fr, 3fr, 1fr);
	grid-template-rows: auto;
	border: 4px solid pink;
}
.containerheading
{
	grid-column-start: 1;
	grid-column-end: 4;
 	grid-row-start: 1;
 	grid-row-end: 2;
	height:70px;
	max-width:80%;
	text-align:center;
	border:2px solid black;
	border-radius: 3px;
}

.bodycontainer
{	grid-column-start: 2;
	grid-column-end: 3;
 	grid-row-start: 2;
 	grid-row-end: 3;
		height: 100vh;
		width: 80vw;
		color: white;
		border-top: 5px solid rgba(40, 40, 40, 1);
		border-radius: 10px;
		background-color: rgba(60, 60, 60, 0.99);
}
